requests
dotenv
langchain=0.3.27
chromadb
langchain-together=0.3.1
langchain_community=0.3.77
langchain_huggingface=0.3.1
sentence-transformers
unstructured
libmagic
pandas
scikit-learn
joblib
gradio
nltk
flask
waitress
langdetect